spring-soap/src/main/java/PatientFacadeService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.2 git-revision#91dd558. -->
<definitions targetNamespace="http://www.oracle.com/medrec" name="PatientFacadeService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://www.oracle.com/medrec" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema targetNamespace="http://www.oracle.com/medrec" xmlns:ns0="http://www.oracle.com/medrec">
      <xsd:complexType name="findApprovedPatientBySsn">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="findApprovedPatientBySsnResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="return" type="ns0:foundPatient"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="findApprovedPatientsByLastName">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="findApprovedPatientsByLastNameResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns0:foundPatient"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="getPatient">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="arg0" type="xsd:long"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="getPatientResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="return" type="ns0:patient"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="foundPatient">
        <xsd:complexContent>
          <xsd:extension base="ns0:transferObject">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="dob" type="xsd:dateTime"/>
              <xsd:element minOccurs="0" name="id" type="xsd:long"/>
              <xsd:element minOccurs="0" name="name" type="ns0:personName"/>
              <xsd:element minOccurs="0" name="ssn" type="xsd:string"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="transferObject"/>
      <xsd:complexType name="address">
        <xsd:complexContent>
          <xsd:extension base="ns0:domainModel">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="city" type="xsd:string"/>
              <xsd:element minOccurs="0" name="country" type="xsd:string"/>
              <xsd:element minOccurs="0" name="state" type="xsd:string"/>
              <xsd:element minOccurs="0" name="street1" type="xsd:string"/>
              <xsd:element minOccurs="0" name="street2" type="xsd:string"/>
              <xsd:element minOccurs="0" name="zip" type="xsd:string"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType abstract="true" name="baseEntity">
        <xsd:complexContent>
          <xsd:extension base="ns0:domainModel">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="id" type="xsd:long"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType abstract="true" name="domainModel"/>
      <xsd:complexType name="patient">
        <xsd:complexContent>
          <xsd:extension base="ns0:regularUser">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="address" type="ns0:address"/>
              <xsd:element minOccurs="0" name="dob" type="xsd:dateTime"/>
              <xsd:element minOccurs="0" name="gender" type="ns0:gender"/>
              <xsd:element minOccurs="0" name="ssn" type="xsd:string"/>
              <xsd:element minOccurs="0" name="status" type="ns0:status"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="personName">
        <xsd:complexContent>
          <xsd:extension base="ns0:domainModel">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="firstName" type="xsd:string"/>
              <xsd:element minOccurs="0" name="lastName" type="xsd:string"/>
              <xsd:element minOccurs="0" name="middleName" type="xsd:string"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType abstract="true" name="regularUser">
        <xsd:complexContent>
          <xsd:extension base="ns0:user">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="name" type="ns0:personName"/>
              <xsd:element minOccurs="0" name="phone" type="xsd:string"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType abstract="true" name="user">
        <xsd:complexContent>
          <xsd:extension base="ns0:versionedEntity">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="email" type="xsd:string"/>
              <xsd:element minOccurs="0" name="password" type="xsd:string"/>
              <xsd:element minOccurs="0" name="username" type="xsd:string"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType abstract="true" name="versionedEntity">
        <xsd:complexContent>
          <xsd:extension base="ns0:baseEntity">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="version" type="xsd:int"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="findApprovedPatientBySsn" type="ns0:findApprovedPatientBySsn"/>
      <xsd:element name="findApprovedPatientBySsnResponse" type="ns0:findApprovedPatientBySsnResponse"/>
      <xsd:element name="findApprovedPatientsByLastName" type="ns0:findApprovedPatientsByLastName"/>
      <xsd:element name="findApprovedPatientsByLastNameResponse" type="ns0:findApprovedPatientsByLastNameResponse"/>
      <xsd:element name="getPatient" type="ns0:getPatient"/>
      <xsd:element name="getPatientResponse" type="ns0:getPatientResponse"/>
      <xsd:simpleType name="gender">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="MALE"/>
          <xsd:enumeration value="FEMALE"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="status">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="REGISTERED"/>
          <xsd:enumeration value="APPROVED"/>
          <xsd:enumeration value="DENIED"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
  </types>
  <message name="getPatient">
    <part name="parameters" element="tns:getPatient"/>
  </message>
  <message name="getPatientResponse">
    <part name="parameters" element="tns:getPatientResponse"/>
  </message>
  <message name="findApprovedPatientBySsn">
    <part name="parameters" element="tns:findApprovedPatientBySsn"/>
  </message>
  <message name="findApprovedPatientBySsnResponse">
    <part name="parameters" element="tns:findApprovedPatientBySsnResponse"/>
  </message>
  <message name="findApprovedPatientsByLastName">
    <part name="parameters" element="tns:findApprovedPatientsByLastName"/>
  </message>
  <message name="findApprovedPatientsByLastNameResponse">
    <part name="parameters" element="tns:findApprovedPatientsByLastNameResponse"/>
  </message>
  <portType name="PatientFacade">
    <operation name="getPatient">
      <input wsam:Action="http://www.oracle.com/medrec/PatientFacade/getPatientRequest" message="tns:getPatient"/>
      <output wsam:Action="http://www.oracle.com/medrec/PatientFacade/getPatientResponse" message="tns:getPatientResponse"/>
    </operation>
    <operation name="findApprovedPatientBySsn">
      <input wsam:Action="http://www.oracle.com/medrec/PatientFacade/findApprovedPatientBySsnRequest" message="tns:findApprovedPatientBySsn"/>
      <output wsam:Action="http://www.oracle.com/medrec/PatientFacade/findApprovedPatientBySsnResponse" message="tns:findApprovedPatientBySsnResponse"/>
    </operation>
    <operation name="findApprovedPatientsByLastName">
      <input wsam:Action="http://www.oracle.com/medrec/PatientFacade/findApprovedPatientsByLastNameRequest" message="tns:findApprovedPatientsByLastName"/>
      <output wsam:Action="http://www.oracle.com/medrec/PatientFacade/findApprovedPatientsByLastNameResponse" message="tns:findApprovedPatientsByLastNameResponse"/>
    </operation>
  </portType>
  <binding name="PatientFacadePortBinding" type="tns:PatientFacade">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getPatient">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="findApprovedPatientBySsn">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="findApprovedPatientsByLastName">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PatientFacadeService">
    <port name="PatientFacadePort" binding="tns:PatientFacadePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

