spring-soap/src/main/java/PatientFacadeService_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:ns0="http://www.oracle.com/medrec" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.oracle.com/medrec">
   <xsd:complexType name="findApprovedPatientBySsn">
      <xsd:sequence>
         <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="findApprovedPatientBySsnResponse">
      <xsd:sequence>
         <xsd:element name="return" type="ns0:foundPatient" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="findApprovedPatientsByLastName">
      <xsd:sequence>
         <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="findApprovedPatientsByLastNameResponse">
      <xsd:sequence>
         <xsd:element name="return" type="ns0:foundPatient" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="getPatient">
      <xsd:sequence>
         <xsd:element name="arg0" type="xsd:long" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="getPatientResponse">
      <xsd:sequence>
         <xsd:element name="return" type="ns0:patient" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="foundPatient">
      <xsd:complexContent>
         <xsd:extension base="ns0:transferObject">
            <xsd:sequence>
               <xsd:element name="dob" type="xsd:dateTime" minOccurs="0"/>
               <xsd:element name="id" type="xsd:long" minOccurs="0"/>
               <xsd:element name="name" type="ns0:personName" minOccurs="0"/>
               <xsd:element name="ssn" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="transferObject"/>
   <xsd:complexType name="address">
      <xsd:complexContent>
         <xsd:extension base="ns0:domainModel">
            <xsd:sequence>
               <xsd:element name="city" type="xsd:string" minOccurs="0"/>
               <xsd:element name="country" type="xsd:string" minOccurs="0"/>
               <xsd:element name="state" type="xsd:string" minOccurs="0"/>
               <xsd:element name="street1" type="xsd:string" minOccurs="0"/>
               <xsd:element name="street2" type="xsd:string" minOccurs="0"/>
               <xsd:element name="zip" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="baseEntity" abstract="true">
      <xsd:complexContent>
         <xsd:extension base="ns0:domainModel">
            <xsd:sequence>
               <xsd:element name="id" type="xsd:long" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="domainModel" abstract="true"/>
   <xsd:complexType name="patient">
      <xsd:complexContent>
         <xsd:extension base="ns0:regularUser">
            <xsd:sequence>
               <xsd:element name="address" type="ns0:address" minOccurs="0"/>
               <xsd:element name="dob" type="xsd:dateTime" minOccurs="0"/>
               <xsd:element name="gender" type="ns0:gender" minOccurs="0"/>
               <xsd:element name="ssn" type="xsd:string" minOccurs="0"/>
               <xsd:element name="status" type="ns0:status" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="personName">
      <xsd:complexContent>
         <xsd:extension base="ns0:domainModel">
            <xsd:sequence>
               <xsd:element name="firstName" type="xsd:string" minOccurs="0"/>
               <xsd:element name="lastName" type="xsd:string" minOccurs="0"/>
               <xsd:element name="middleName" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="regularUser" abstract="true">
      <xsd:complexContent>
         <xsd:extension base="ns0:user">
            <xsd:sequence>
               <xsd:element name="name" type="ns0:personName" minOccurs="0"/>
               <xsd:element name="phone" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="user" abstract="true">
      <xsd:complexContent>
         <xsd:extension base="ns0:versionedEntity">
            <xsd:sequence>
               <xsd:element name="email" type="xsd:string" minOccurs="0"/>
               <xsd:element name="password" type="xsd:string" minOccurs="0"/>
               <xsd:element name="username" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="versionedEntity" abstract="true">
      <xsd:complexContent>
         <xsd:extension base="ns0:baseEntity">
            <xsd:sequence>
               <xsd:element name="version" type="xsd:int" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:element name="findApprovedPatientBySsn" type="ns0:findApprovedPatientBySsn"/>
   <xsd:element name="findApprovedPatientBySsnResponse" type="ns0:findApprovedPatientBySsnResponse"/>
   <xsd:element name="findApprovedPatientsByLastName" type="ns0:findApprovedPatientsByLastName"/>
   <xsd:element name="findApprovedPatientsByLastNameResponse" type="ns0:findApprovedPatientsByLastNameResponse"/>
   <xsd:element name="getPatient" type="ns0:getPatient"/>
   <xsd:element name="getPatientResponse" type="ns0:getPatientResponse"/>
   <xsd:simpleType name="gender">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="MALE"/>
         <xsd:enumeration value="FEMALE"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="status">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="REGISTERED"/>
         <xsd:enumeration value="APPROVED"/>
         <xsd:enumeration value="DENIED"/>
      </xsd:restriction>
   </xsd:simpleType>
</xsd:schema>
