spring-soap/src/main/java/PhysicianFacadeService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.2 git-revision#91dd558. -->
<definitions targetNamespace="http://www.oracle.com/medrec" name="PhysicianFacadeService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://www.oracle.com/medrec" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema targetNamespace="http://www.oracle.com/medrec" xmlns:ns0="http://www.oracle.com/medrec">
      <xsd:complexType name="authenticateAndReturnPhysician">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
          <xsd:element minOccurs="0" name="arg1" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="authenticateAndReturnPhysicianResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="return" type="ns0:authenticatedPhysician"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="authenticatePhysician">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
          <xsd:element minOccurs="0" name="arg1" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="authenticatePhysicianResponse">
        <xsd:sequence>
          <xsd:element name="return" type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="authenticatedPhysician">
        <xsd:complexContent>
          <xsd:extension base="ns0:transferObject">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="id" type="xsd:long"/>
              <xsd:element minOccurs="0" name="name" type="ns0:personName"/>
              <xsd:element minOccurs="0" name="username" type="xsd:string"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="transferObject"/>
      <xsd:complexType abstract="true" name="domainModel"/>
      <xsd:complexType name="personName">
        <xsd:complexContent>
          <xsd:extension base="ns0:domainModel">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="firstName" type="xsd:string"/>
              <xsd:element minOccurs="0" name="lastName" type="xsd:string"/>
              <xsd:element minOccurs="0" name="middleName" type="xsd:string"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="authenticateAndReturnPhysician" type="ns0:authenticateAndReturnPhysician"/>
      <xsd:element name="authenticateAndReturnPhysicianResponse" type="ns0:authenticateAndReturnPhysicianResponse"/>
      <xsd:element name="authenticatePhysician" type="ns0:authenticatePhysician"/>
      <xsd:element name="authenticatePhysicianResponse" type="ns0:authenticatePhysicianResponse"/>
    </xsd:schema>
  </types>
  <message name="authenticatePhysician">
    <part name="parameters" element="tns:authenticatePhysician"/>
  </message>
  <message name="authenticatePhysicianResponse">
    <part name="parameters" element="tns:authenticatePhysicianResponse"/>
  </message>
  <message name="authenticateAndReturnPhysician">
    <part name="parameters" element="tns:authenticateAndReturnPhysician"/>
  </message>
  <message name="authenticateAndReturnPhysicianResponse">
    <part name="parameters" element="tns:authenticateAndReturnPhysicianResponse"/>
  </message>
  <portType name="PhysicianFacade">
    <operation name="authenticatePhysician">
      <input wsam:Action="http://www.oracle.com/medrec/PhysicianFacade/authenticatePhysicianRequest" message="tns:authenticatePhysician"/>
      <output wsam:Action="http://www.oracle.com/medrec/PhysicianFacade/authenticatePhysicianResponse" message="tns:authenticatePhysicianResponse"/>
    </operation>
    <operation name="authenticateAndReturnPhysician">
      <input wsam:Action="http://www.oracle.com/medrec/PhysicianFacade/authenticateAndReturnPhysicianRequest" message="tns:authenticateAndReturnPhysician"/>
      <output wsam:Action="http://www.oracle.com/medrec/PhysicianFacade/authenticateAndReturnPhysicianResponse" message="tns:authenticateAndReturnPhysicianResponse"/>
    </operation>
  </portType>
  <binding name="PhysicianFacadePortBinding" type="tns:PhysicianFacade">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="authenticatePhysician">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="authenticateAndReturnPhysician">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PhysicianFacadeService">
    <port name="PhysicianFacadePort" binding="tns:PhysicianFacadePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

