spring-soap/src/main/java/RecordFacadeService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.2 git-revision#91dd558. -->
<definitions targetNamespace="http://www.oracle.com/medrec" name="RecordFacadeService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://www.oracle.com/medrec" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema targetNamespace="http://www.oracle.com/medrec" xmlns:ns0="http://www.oracle.com/medrec">
      <xsd:complexType name="createRecord">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="arg0" type="ns0:recordToCreate"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="createRecordResponse"/>
      <xsd:complexType name="getRecordDetail">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="arg0" type="xsd:long"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="getRecordDetailResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="return" type="ns0:recordDetail"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="getRecordSummaryByPatientId">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="arg0" type="xsd:long"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="getRecordSummaryByPatientIdResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="return" type="ns0:recordSummary"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="recordDetail">
        <xsd:complexContent>
          <xsd:extension base="ns0:transferObject">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="date" type="xsd:dateTime"/>
              <xsd:element minOccurs="0" name="diagnosis" type="xsd:string"/>
              <xsd:element minOccurs="0" name="id" type="xsd:long"/>
              <xsd:element minOccurs="0" name="notes" type="xsd:string"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="prescriptions" nillable="true" type="ns0:prescription"/>
              <xsd:element minOccurs="0" name="symptoms" type="xsd:string"/>
              <xsd:element minOccurs="0" name="vitalSigns" type="ns0:vitalSigns"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="recordSummary">
        <xsd:complexContent>
          <xsd:extension base="ns0:transferObject">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="patientId" type="xsd:long"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="prescriptions" nillable="true" type="ns0:prescription"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="summarizedRecords" nillable="true" type="ns0:summarizedRecord"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="recordToCreate">
        <xsd:complexContent>
          <xsd:extension base="ns0:transferObject">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="date" type="xsd:dateTime"/>
              <xsd:element minOccurs="0" name="diagnosis" type="xsd:string"/>
              <xsd:element minOccurs="0" name="notes" type="xsd:string"/>
              <xsd:element minOccurs="0" name="patientId" type="xsd:long"/>
              <xsd:element minOccurs="0" name="physicianId" type="xsd:long"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="prescriptions" nillable="true" type="ns0:prescription"/>
              <xsd:element minOccurs="0" name="symptoms" type="xsd:string"/>
              <xsd:element minOccurs="0" name="vitalSigns" type="ns0:vitalSigns"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="summarizedRecord">
        <xsd:complexContent>
          <xsd:extension base="ns0:transferObject">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="date" type="xsd:dateTime"/>
              <xsd:element minOccurs="0" name="id" type="xsd:long"/>
              <xsd:element minOccurs="0" name="physicianName" type="ns0:personName"/>
              <xsd:element minOccurs="0" name="symptoms" type="xsd:string"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="transferObject"/>
      <xsd:complexType abstract="true" name="baseEntity">
        <xsd:complexContent>
          <xsd:extension base="ns0:domainModel">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="id" type="xsd:long"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType abstract="true" name="domainModel"/>
      <xsd:complexType name="personName">
        <xsd:complexContent>
          <xsd:extension base="ns0:domainModel">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="firstName" type="xsd:string"/>
              <xsd:element minOccurs="0" name="lastName" type="xsd:string"/>
              <xsd:element minOccurs="0" name="middleName" type="xsd:string"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="prescription">
        <xsd:complexContent>
          <xsd:extension base="ns0:versionedEntity">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="datePrescribed" type="xsd:dateTime"/>
              <xsd:element minOccurs="0" name="dosage" type="xsd:string"/>
              <xsd:element minOccurs="0" name="drug" type="xsd:string"/>
              <xsd:element minOccurs="0" name="frequency" type="xsd:string"/>
              <xsd:element minOccurs="0" name="instructions" type="xsd:string"/>
              <xsd:element minOccurs="0" name="refillsRemaining" type="xsd:int"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType abstract="true" name="versionedEntity">
        <xsd:complexContent>
          <xsd:extension base="ns0:baseEntity">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="version" type="xsd:int"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="vitalSigns">
        <xsd:complexContent>
          <xsd:extension base="ns0:domainModel">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="diastolicBloodPressure" type="xsd:int"/>
              <xsd:element minOccurs="0" name="height" type="xsd:int"/>
              <xsd:element minOccurs="0" name="pulse" type="xsd:int"/>
              <xsd:element minOccurs="0" name="systolicBloodPressure" type="xsd:int"/>
              <xsd:element minOccurs="0" name="temperature" type="xsd:int"/>
              <xsd:element minOccurs="0" name="weight" type="xsd:int"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="createRecord" type="ns0:createRecord"/>
      <xsd:element name="createRecordResponse" type="ns0:createRecordResponse"/>
      <xsd:element name="getRecordDetail" type="ns0:getRecordDetail"/>
      <xsd:element name="getRecordDetailResponse" type="ns0:getRecordDetailResponse"/>
      <xsd:element name="getRecordSummaryByPatientId" type="ns0:getRecordSummaryByPatientId"/>
      <xsd:element name="getRecordSummaryByPatientIdResponse" type="ns0:getRecordSummaryByPatientIdResponse"/>
    </xsd:schema>
  </types>
  <message name="getRecordSummaryByPatientId">
    <part name="parameters" element="tns:getRecordSummaryByPatientId"/>
  </message>
  <message name="getRecordSummaryByPatientIdResponse">
    <part name="parameters" element="tns:getRecordSummaryByPatientIdResponse"/>
  </message>
  <message name="getRecordDetail">
    <part name="parameters" element="tns:getRecordDetail"/>
  </message>
  <message name="getRecordDetailResponse">
    <part name="parameters" element="tns:getRecordDetailResponse"/>
  </message>
  <message name="createRecord">
    <part name="parameters" element="tns:createRecord"/>
  </message>
  <message name="createRecordResponse">
    <part name="parameters" element="tns:createRecordResponse"/>
  </message>
  <portType name="RecordFacade">
    <operation name="getRecordSummaryByPatientId">
      <input wsam:Action="http://www.oracle.com/medrec/RecordFacade/getRecordSummaryByPatientIdRequest" message="tns:getRecordSummaryByPatientId"/>
      <output wsam:Action="http://www.oracle.com/medrec/RecordFacade/getRecordSummaryByPatientIdResponse" message="tns:getRecordSummaryByPatientIdResponse"/>
    </operation>
    <operation name="getRecordDetail">
      <input wsam:Action="http://www.oracle.com/medrec/RecordFacade/getRecordDetailRequest" message="tns:getRecordDetail"/>
      <output wsam:Action="http://www.oracle.com/medrec/RecordFacade/getRecordDetailResponse" message="tns:getRecordDetailResponse"/>
    </operation>
    <operation name="createRecord">
      <input wsam:Action="http://www.oracle.com/medrec/RecordFacade/createRecordRequest" message="tns:createRecord"/>
      <output wsam:Action="http://www.oracle.com/medrec/RecordFacade/createRecordResponse" message="tns:createRecordResponse"/>
    </operation>
  </portType>
  <binding name="RecordFacadePortBinding" type="tns:RecordFacade">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getRecordSummaryByPatientId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getRecordDetail">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createRecord">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="RecordFacadeService">
    <port name="RecordFacadePort" binding="tns:RecordFacadePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

