soap/src/main/resources/wsdl/AsyncWebService_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:ns0="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://services/">
   <xsd:complexType name="getInt">
      <xsd:sequence>
         <xsd:element name="arg0" type="xsd:int"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="getIntResponse">
      <xsd:sequence>
         <xsd:element name="return" type="xsd:int"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="getStock">
      <xsd:sequence>
         <xsd:element name="arg0" type="ns0:stock" minOccurs="0"/>
         <xsd:element name="arg1" type="xsd:int"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="getStockResponse">
      <xsd:sequence>
         <xsd:element name="return" type="ns0:stock" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="getString">
      <xsd:sequence>
         <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="getStringResponse">
      <xsd:sequence>
         <xsd:element name="return" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="stock">
      <xsd:sequence>
         <xsd:element name="doubleArrayValue" type="xsd:double" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
         <xsd:element name="doubleValue" type="xsd:double"/>
         <xsd:element name="floatArrayValue" type="xsd:float" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
         <xsd:element name="floatValue" type="xsd:float"/>
         <xsd:element name="intArrayValue" type="xsd:int" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
         <xsd:element name="intValue" type="xsd:int"/>
         <xsd:element name="stringArrayValue" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
         <xsd:element name="stringValue" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="getInt" type="ns0:getInt"/>
   <xsd:element name="getIntResponse" type="ns0:getIntResponse"/>
   <xsd:element name="getStock" type="ns0:getStock"/>
   <xsd:element name="getStockResponse" type="ns0:getStockResponse"/>
   <xsd:element name="getString" type="ns0:getString"/>
   <xsd:element name="getStringResponse" type="ns0:getStringResponse"/>
</xsd:schema>
