spring-soap/src/main/resources/RecordFacadeService_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:ns0="http://www.oracle.com/medrec" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.oracle.com/medrec">
   <xsd:complexType name="createRecord">
      <xsd:sequence>
         <xsd:element name="arg0" type="ns0:recordToCreate" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="createRecordResponse"/>
   <xsd:complexType name="getRecordDetail">
      <xsd:sequence>
         <xsd:element name="arg0" type="xsd:long" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="getRecordDetailResponse">
      <xsd:sequence>
         <xsd:element name="return" type="ns0:recordDetail" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="getRecordSummaryByPatientId">
      <xsd:sequence>
         <xsd:element name="arg0" type="xsd:long" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="getRecordSummaryByPatientIdResponse">
      <xsd:sequence>
         <xsd:element name="return" type="ns0:recordSummary" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="recordDetail">
      <xsd:complexContent>
         <xsd:extension base="ns0:transferObject">
            <xsd:sequence>
               <xsd:element name="date" type="xsd:dateTime" minOccurs="0"/>
               <xsd:element name="diagnosis" type="xsd:string" minOccurs="0"/>
               <xsd:element name="id" type="xsd:long" minOccurs="0"/>
               <xsd:element name="notes" type="xsd:string" minOccurs="0"/>
               <xsd:element name="prescriptions" type="ns0:prescription" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
               <xsd:element name="symptoms" type="xsd:string" minOccurs="0"/>
               <xsd:element name="vitalSigns" type="ns0:vitalSigns" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="recordSummary">
      <xsd:complexContent>
         <xsd:extension base="ns0:transferObject">
            <xsd:sequence>
               <xsd:element name="patientId" type="xsd:long" minOccurs="0"/>
               <xsd:element name="prescriptions" type="ns0:prescription" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
               <xsd:element name="summarizedRecords" type="ns0:summarizedRecord" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="recordToCreate">
      <xsd:complexContent>
         <xsd:extension base="ns0:transferObject">
            <xsd:sequence>
               <xsd:element name="date" type="xsd:dateTime" minOccurs="0"/>
               <xsd:element name="diagnosis" type="xsd:string" minOccurs="0"/>
               <xsd:element name="notes" type="xsd:string" minOccurs="0"/>
               <xsd:element name="patientId" type="xsd:long" minOccurs="0"/>
               <xsd:element name="physicianId" type="xsd:long" minOccurs="0"/>
               <xsd:element name="prescriptions" type="ns0:prescription" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
               <xsd:element name="symptoms" type="xsd:string" minOccurs="0"/>
               <xsd:element name="vitalSigns" type="ns0:vitalSigns" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="summarizedRecord">
      <xsd:complexContent>
         <xsd:extension base="ns0:transferObject">
            <xsd:sequence>
               <xsd:element name="date" type="xsd:dateTime" minOccurs="0"/>
               <xsd:element name="id" type="xsd:long" minOccurs="0"/>
               <xsd:element name="physicianName" type="ns0:personName" minOccurs="0"/>
               <xsd:element name="symptoms" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="transferObject"/>
   <xsd:complexType name="baseEntity" abstract="true">
      <xsd:complexContent>
         <xsd:extension base="ns0:domainModel">
            <xsd:sequence>
               <xsd:element name="id" type="xsd:long" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="domainModel" abstract="true"/>
   <xsd:complexType name="personName">
      <xsd:complexContent>
         <xsd:extension base="ns0:domainModel">
            <xsd:sequence>
               <xsd:element name="firstName" type="xsd:string" minOccurs="0"/>
               <xsd:element name="lastName" type="xsd:string" minOccurs="0"/>
               <xsd:element name="middleName" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="prescription">
      <xsd:complexContent>
         <xsd:extension base="ns0:versionedEntity">
            <xsd:sequence>
               <xsd:element name="datePrescribed" type="xsd:dateTime" minOccurs="0"/>
               <xsd:element name="dosage" type="xsd:string" minOccurs="0"/>
               <xsd:element name="drug" type="xsd:string" minOccurs="0"/>
               <xsd:element name="frequency" type="xsd:string" minOccurs="0"/>
               <xsd:element name="instructions" type="xsd:string" minOccurs="0"/>
               <xsd:element name="refillsRemaining" type="xsd:int" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="versionedEntity" abstract="true">
      <xsd:complexContent>
         <xsd:extension base="ns0:baseEntity">
            <xsd:sequence>
               <xsd:element name="version" type="xsd:int" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="vitalSigns">
      <xsd:complexContent>
         <xsd:extension base="ns0:domainModel">
            <xsd:sequence>
               <xsd:element name="diastolicBloodPressure" type="xsd:int" minOccurs="0"/>
               <xsd:element name="height" type="xsd:int" minOccurs="0"/>
               <xsd:element name="pulse" type="xsd:int" minOccurs="0"/>
               <xsd:element name="systolicBloodPressure" type="xsd:int" minOccurs="0"/>
               <xsd:element name="temperature" type="xsd:int" minOccurs="0"/>
               <xsd:element name="weight" type="xsd:int" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:element name="createRecord" type="ns0:createRecord"/>
   <xsd:element name="createRecordResponse" type="ns0:createRecordResponse"/>
   <xsd:element name="getRecordDetail" type="ns0:getRecordDetail"/>
   <xsd:element name="getRecordDetailResponse" type="ns0:getRecordDetailResponse"/>
   <xsd:element name="getRecordSummaryByPatientId" type="ns0:getRecordSummaryByPatientId"/>
   <xsd:element name="getRecordSummaryByPatientIdResponse" type="ns0:getRecordSummaryByPatientIdResponse"/>
</xsd:schema>
